 body {
     animation: colorchange 60s infinite;
     -webkit-animation: colorchange 60s infinite;
 }
 
 @keyframes colorchange {
     0% {
         background: lightgoldenrodyellow;
     }
     25% {
         background: skyblue;
     }
     50% {
         background: lightseagreen;
     }
     75% {
         background: mistyrose;
     }
     100% {
         background: lightpink;
     }
 }
 
 @-webkit-keyframes colorchange {
     0% {
         background: lightgoldenrodyellow;
     }
     25% {
         background: skyblue;
     }
     50% {
         background: lightseagreen;
     }
     75% {
         background: mistyrose;
     }
     100% {
         background: lightpink;
     }
 }
 
 .jumbotron {
     background-image: url('../images/shopping-text.jpg');
     display: block;
     background-size: cover;
     background-repeat: no-repeat;
     margin-top: 5px;
     margin-left: 5px;
     margin-right: 5px;
     font-family: "Oswald", sans-serif;
     text-transform: uppercase;
     text-align: center;
     color: whitesmoke;
     text-shadow: black 0.3em 0.3em 0.3em;
 }
 
 #app-logo {
     width: 300px;
     height: 165px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     box-shadow: 6px 6px 6px #182742;
 }
 
 .row {
     margin-top: 25px;
 }
 
 .col-md-1 {
     margin-left: 4px;
     margin-right: 4px;
 }
 
 #add-btn {
     padding-left: 100px;
     display: flex;
     font-family: "Oswald", sans-serif;
 }
 
 #clear-btn {
     padding-left: 10px;
     display: flex;
     font-family: "Oswald", sans-serif;
 }
 
 #sortable {
     padding-left: 18px;
     text-transform: uppercase;
     /* width: 450px; */
 }
 
 #list-id {
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
 }
 
 #txt-input {
     font-size: 14px;
     margin-right: auto;
     margin-left: auto;
     font-family: "Oswald", sans-serif;
 }
 
 #output {
     font-family: "Oswald", sans-serif;
 }
 
 #empty {
     text-align: center;
     text-transform: uppercase;
 }
 
 #empty > h4 {
     padding-right: 25px;
 }
 
 .card-title {
     font-size: 12px !important;
     text-align: center;
 }

 /* #sortable {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 450px;
    }
    
    #sortable li {
        margin: 3px 3px 3px 0;
        padding: 1px;
        float: left;
        width: 100px;
        height: 90px;
        font-size: 4em;
        text-align: center;
    } */
